<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="../static/style-2.css">
  <title>Daily Expenses</title>
</head>

<body>
  <div class="header-bor">
    <header class="header">
      <h2>Daily Expenses Tracker</h2>
      <img id="menu" src="../static/outline_list_black_24dp.png" alt="" srcset="" width="35px">
    </header>
  </div>
  <div class="headli">
    <h1 id="headline">Your Expenses of This Month</h1>
  </div>
  <div class="slide_nav">
    <div class="first-link">
      <img src="../static/outline_add_black_24dp.png" alt="" srcset="">
      <h5><a href="/AddExpenses">Add Expenses</a></h5>
    </div>
    <div class="first-link">
      <img src="../static/outline_history_black_24dp.png" alt="" srcset="">
      <h5><a href="#">Expenses History</a></h5>
    </div>
    <div class="first-link">
      <img src="../static/outline_account_circle_black_24dp.png" alt="" srcset="">
      <h5><a href="#">Account</a></h5>
    </div>
    <div class="first-link">
      <img src="../static/outline_logout_black_24dp.png" alt="" srcset="">
      <h5><a href="#">Logout</a></h5>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">sno</th>
        <th scope="col">Cost</th>
        <th scope="col">Where do you spend money</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    {% for expe in allExpenses %}
    <tbody>
      <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{expe.cost}}</td>
        <td>{{expe.Note}}</td>
        <td>{{expe.date_created}}</td>
      </tr>
    </tbody>
    {% endfor %}

  </table>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
</body>

</html>